
body {
	margin-left: 225px;
	padding: 10px;
	background: #fff url(Images/fond.png) no-repeat;
	font:small "Trebuchet MS",Arial,Sans-serif;
 	voice-family: "\"}\""; voice-family:inherit;
 	font-size:medium;
}

body h1{
text-align:center;
}

label#if{
	margin-top:-30px; 
	margin-right:30px; 
}

label#and {
	margin-top:-30px; 
	margin-left:45px; 
}
label#op{
	margin-top:-30px; 
	margin-left:45px; 
}

label#reac{
	margin-top:-30px; 
	margin-left:25px; 
}

select#box1 {
	margin-top:-30px; 
	/*margin-left:25px; */
}

select#metabext{
	margin-top:-30px; 
	margin-left:50px; 
}

input#addext{
	margin-top:-50px; 
	margin-left:20px;
}

input#removeext{
	margin-top:-50px; 
	margin-left:10px;
}

b#int{
	margin-left:300px; 
}

/*
div#parent {
	position : absolute ;
	background-image: url(Images/logo.png);
	background-repeat: no-repeat;
	width: 1000px;
	height: 1003px;
	padding: 0;
}*/

form#reag{position: absolute;
	right: 330px;	
	left : 30px ;}
	
form#prod{position: absolute;
	right: 660px;	
	left : 360px ;}

label.tooltip{
outline:none;}

label.tooltip strong{
line-height:30px;} 

label.tooltip:hover{
text-decoration:none;}
 
label.tooltip span { 
z-index:10;
display:none; 
padding:14px 20px; 
margin-top:-30px; 
margin-left:28px; 
width:200px; 
line-height:20px; } 

label.tooltip:hover span{ 
display:inline; 
position:absolute; 
color:#111; 
border:1px solid #CCC; 
background:#FFF;} 

table.centered {
	margin-left:auto; 
	margin-right:auto;
 }


/*CSS3 extras*/ 
label.tooltip span { 
border-radius:4px; 
-moz-border-radius: 4px; 
-webkit-border-radius: 4px; 
-moz-box-shadow: 5px 5px 8px #CCC; 
-webkit-box-shadow: 5px 5px 8px #CCC; 
box-shadow: 5px 5px 8px #CCC; }

li#bu1 a, li#bu2 a, li#bu3 a, li#bu4 a, li#bu5 a, li#bu6 a {
	background: transparent; position: absolute;
	left: 30px;	width: 120px;
	height: 32px;	bottom: 0;
	text-decoration: none;
}

li#bu1 a { top: 318px ;  background: url(Images/home.png) 0 0 no-repeat; }
li#bu2 a { top: 350px ;  background: url(Images/new.png) 0 0 no-repeat; }
li#bu3 a { top: 382px ;  background: url(Images/new_network-bis.png) 0 0 no-repeat; }
li#bu4 a { top: 414px ;  background: url(Images/load.png) 0 0 no-repeat; }
li#bu5 a { top: 446px ;  background: url(Images/modify.png) 0 0 no-repeat; }
li#bu6 a { top: 478px ;  background: url(Images/help.png) 0 0 no-repeat; }

/* Options page disposition */
#loadBody{
	text-align: center;
	margin-left: auto;
 	margin-right: auto;
 	width: 600;}

 div#part {
 	text-align: center;
	width:100%;
	height: 40px;
	background-color:#4388CC;
	margin-top: 30px;
	margin-bottom: 0px;
	padding: 0px;
}

div#subPart {
	margin-bottom: 0px;
	margin-top: 0px;
	width:100%;
	height: 80px;
	background-color:#9ECAE1;
	padding: 0px;
}
div#subPart1 {
	float:left;
	width:100%;
	height:60px;
	background-color:#9ECAE1;
	text-align: center;
}
div#subPart2-1 {
	float:left;
	width:50%;
	height:60px;
	background-color:#9ECAE1;
	text-align: center;
}
div#subPart2-2 {
	float:left;
	width:50%;
	height:60px;
	background-color:#9ECAE1;
	text-align: center;
}
div#subPart3-1 {
	float:left;
	width:33.4%;
	height:60px;
	background-color:#9ECAE1;
	text-align: center;
}
div#subPart3-2 {
	float:left;
	width:33.3%;
	height:60px;
	background-color:#9ECAE1;
	text-align: center;
}
div#subPart3-3 {
	float:left;
	width:33.3%;
	height:60px;
	background-color:#9ECAE1;
	text-align: center;
}
div#subPart4-1 {
	float:left;
	width:25%;
	height:60px;
	background-color:#9ECAE1;
	text-align: center;
}
div#subPart4-2 {
	float:left;
	width:25%;
	height:60px;
	background-color:#9ECAE1;
	text-align: center;
}
div#subPart4-3 {
	float:left;
	width:25%;
	height:60px;
	background-color:#9ECAE1;
	text-align: center;
}
div#subPart4-4 {
	float:left;
	width:25%;
	height:60px;
	background-color:#9ECAE1;
	text-align: center;
}

div#buttons {
	width:100%;
	height:175px;
	background-color:#DEEBF7;
	clear:both;
}
div#buttons1 {
	float:left;
	width:60%;
	height:auto;
	background-color:#DEEBF7;
	text-align: justify;
	margin-right: -40%;
	margin-left: 40%;

}
div#buttons2-1 {
	float:left;
	width:30%;
	height:140px;
	background-color:#DEEBF7;
	text-align: justify;
	margin-right: -15%;
	margin-left: 15%;
}
div#buttons2-2 {
	float:left;
	width:40%;
	height:140px;
	background-color:#DEEBF7;
	text-align: justify;
	margin-right: -15%;
	margin-left: 20%;
}
div#buttons3-1 {
	float:left;
	width:33.3%;
	height:140px;
	background-color:#DEEBF7;
	text-align: justify;
	margin-right: -10%;
	margin-left: 10%;
}
div#buttons3-2 {
	float:left;
	width:33.3%;
	height:140px;
	background-color:#DEEBF7;
	text-align: justify;
	margin-right: -10%;
	margin-left: 10%;
}
div#buttons3-3 {
	float:left;
	width:20%;
	height:140px;
	background-color:#DEEBF7;
	text-align: justify;
	margin-right: -20%;
	margin-left: 10%;
}
div#buttons4-1 {
	float:left;
	width:25%;
	height:140px;
	background-color:#DEEBF7;
	text-align: justify;
	margin-right: -5%;
	margin-left: 5%;
}
div#buttons4-2 {
	float:left;
	width:25%;
	height:140px;
	background-color:#DEEBF7;
	text-align: justify;
	margin-right: -5%;
	margin-left: 5%;
}
div#buttons4-3 {
	float:left;
	width:25%;
	height:140px;
	background-color:#DEEBF7;
	text-align: justify;
	margin-right: -5%;
	margin-left: 3%;
}
div#buttons4-4 {
	float:left;
	width:15%;
	height:140px;
	background-color:#DEEBF7;
	text-align: justify;
	margin-right: -10%;
	margin-left: 10%;
}

/* 
# Bleu très clair : DEEBF7
# Bleu clair : 9ECAE1
# Bleu foncé : 3183BD
# Bleu logo : 4388CC */ 



/*Tabs*/

#header {
  float:left;
  width:82%;
  background:#eee url("bg.jpg") repeat-x top;
  line-height:normal;
  position : relative ;		left : 230px ; 
  }
#header ul {
  margin:0;
  padding:10px 10px 0;
  list-style:none;
  }
#header li {
  float:left;
  background:url("left.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 28px;
  }
#header a {
  float:left;
  display:block;
  background:url("right.gif") no-repeat right top;
  padding:9px 28px 4px 0px;
  text-decoration:none;
  font-weight:bold;
  color:#92A2AC;
  }
/* Commented Backslash Hack
   hides rule from IE5-Mac \*/
#header a {float:none;}
/* End IE5-Mac hack */
#header a:hover {
  color:#A56060;
  }
#header #current {
  background-image:url("left_on.gif");
  }
#header #current a {
  background-image:url("right_on.gif");
  color:#A56060;
  }
  
#menu{
	padding:0;
	margin-left:0px;
	text-align:center;
	border:2px solid #000;
	overflow:hidden;/* ceci pour etirer */
	background-color:#A0A4A4;
}
#menu ul{
	float:left;
	list-style-type:none;
	display:block;
	padding:0;
	margin:0;
}
#menu ul li{
	float:left;
}

#menu a{
	float:left;
	width:100px;
}

div#log{
	float:right;
	width:30%;

}
div#original{
	float:left;
	width:30%;
}
}
div#results{
	float:left;
	width:60%;
}
div#new{
	float:left;
	width:30%;
}
div#compare{
	float:left;
	width:60%;
}
